h1, h2, p, img, button, .wrapper {
    margin: 0;
    padding: 0;
} 
body {
    line-height: 1.2em;
    background-color: #2e2e2e;
    font-family: 'Source Code Pro', monospace;
}
h1 {
    position: absolute;
    top: 48%;
    left: -15%;
    /* transition: rotate(-90deg); */
    font-size: 12vh;
    color: white;
}
h2 {
    font-size: 3vh;
    position: relative;
    top: -8%;
    left: 35%; 
}
.topper {
    display: block;
    width: 90vh;
}
#front, #back {
    width: 90vh;
    margin: auto;
}
.wrapper {
    height: 100vh;
    box-sizing: border-box;
    border: solid black 1.15vh;
    border-style: none solid solid solid;
    background-color: white;
    font-size: 16px;
}
form, article {
    margin: 0 20px;
}
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
label {
    font-weight: 700;
    margin: 5px 0;
}
input[type="text"] {
    font-weight: 300;
    font-size: 14px;
    width: 54%;
}
.inputItem {
    margin: 5px;
}
input[type="submit"] {
    width: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    outline: 0;
    margin-bottom: 5px;
}
input[type="submit"]:hover {
    box-shadow: 4px 4px #000000;
}