h1, h2, p, img, button, .wrapper {
    margin: 0;
    padding: 0;
} 
body {
    line-height: 1.6em;
    background-color: #2e2e2e;
    font-family: 'Source Code Pro', monospace;
}
h1 {
    position: absolute;
    top: 48%;
    left: -15%;
    /* transition: rotate(-90deg); */
    font-size: 12vh;
    color: white;
}
h2 {
    font-size: 3vh;
    position: relative;
    top: -8%;
    left: 35%; 
}
.topper {
    display: block;
    width: 90vh;
}
#front {
    width: 90vh;
    margin: auto;
}
#back {
    width: 90vh;
    margin: auto;
}
.wrapper {
    height: 100vh;
    box-sizing: border-box;
    border: solid black 1.15vh;
    border-style: none solid solid solid;
    background-color: white;
    font-size: 16px;
}
form {
    margin: 20px;
}

ul li {
    list-style-type: none;
}


form {
    position: relative;
    top: -20px;
}
.inputLabel {
    display: flex;
    justify-content: space-between;
}
input {
    width: 200px;
    border: 2px solid black;
    outline: 0;
    margin-bottom: 5px;
}
input[type="text"]:focus {
    border: 2px solid rgb(64, 72, 230);
    outline: 0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}