body {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    background-color: #F9F1F0;
    margin: 25px;
}
header {
    display: flex;
    width: fit-content;
    margin: auto;
}
h1 {
    color: #FF6958;
    font-weight: 700;
    font-size: 60px;
}
#screenOne {
    display: flex;
    gap: 20px;
    top: 0;
    left: 0;
}
#gameScreen {
    top: 0;
    left: 0;
}
.rules {
    width: 50%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.rules h2 {
    font-size: 28px;
    margin: 20px;
}
.rules ul li {
    line-height: 1.6em;
    font-size: 20px;
}
.players {
    display: flex;
}
.player {
    text-align: center;
}
.pigImg {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background-color: white;
    margin: 0 20px;
}
.pigImg img {
    width: 16t0px;
}
.player h3 {
    font-size: 26px;
    margin: 10px;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    font-weight: 800;
    font-size: 24px;
    margin: 10px;
    color: #BDBDBD;
}
input {
    color: #BDBDBD;
    box-sizing: border-box;
    border: solid #BDBDBD 3px;
    height: 60px;
    width: 330px;
    border-radius: 20px;
    font-size: 20px;
    padding: 0 10px;
}
.primaryButton {
    width: 200px;
    height: 65px;
    border-radius: 50px;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 40px;
    color: white;
    background-color: #FF6958;
    border: none;
    transition: 0.6s;
}
.primaryButton:hover {
    color: #FF6958;
    background-color: white;
    box-shadow: 4px 4px #FF6958;
}
.primaryButton:active {
    color: #F9C0B9;
    background-color: #FF6958;
    box-shadow: 4px 4px #F9C0B9;
}
.PB1 {
    display: flex;
    justify-content: flex-end;
}
#quitLocation {
    position: absolute;
    top: 25px;
    right: 25px;
}
.secondaryButton {
    font-size: 30px;
    width: 130px;
    height: 50px;
    color: white;
    background-color: #FF6958;
    border: none;
    transition: 0.3s;
}
.secondaryButton:hover {
    color: #FF6958;
    background-color: white;
    box-shadow: 4px 4px #FF6958;
}
.secondaryButton:active {
    color: #FADCD9;
    background-color: #F9C0B9;
    box-shadow: 4px 4px #FADCD9;
}
#actions {
    height: 150px;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.die {
    height: 125px;
    width: 125px;
}
#gameBgWhite {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-color: white;
    width: 100vw;
    height: 400px;
}
.gamePlayers {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
}
.gamePlayer {
    display: flex;
}
.currentScore {
    position: relative;
    top: -25px;
    font-weight: 800;
    font-size: 32px;
}
.currentScore p {
    font-size: 48px;
    text-align: center;
    margin: 0;
}
#announce {
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.gameButtons {
    display: flex;
    gap: 25px;
    justify-content: center;
    position: relative;
    bottom: -10px;
}
.showing {
    display: initial;
}
.hidden {
    display: none;
}