body {
    max-width: 800px;
    margin: auto;
    background-color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
main {
    padding: 0 100px;
}
#images {
    width: 600px;
    margin: auto;
}